/****** Object:  UserDefinedFunction [dbo].[fn_split_string_to_column]    Script Date: 7/9/2020 12:28:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_split_string_to_column]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[fn_split_string_to_column]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_split_string_to_column]    Script Date: 7/9/2020 12:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_split_string_to_column] (
    @string NVARCHAR(MAX),
    @delimiter CHAR(1)
    )
RETURNS @out_put TABLE (
    [column_id] INT IDENTITY(1, 1) NOT NULL,
    [value] NVARCHAR(MAX)
    )
AS
BEGIN
    DECLARE @value NVARCHAR(MAX),
        @pos INT = 0,
        @len INT = 0

    SET @string = CASE 
            WHEN RIGHT(@string, 1) != @delimiter
                THEN @string + @delimiter
            ELSE @string
            END

    WHILE CHARINDEX(@delimiter, @string, @pos + 1) > 0
    BEGIN
        SET @len = CHARINDEX(@delimiter, @string, @pos + 1) - @pos
        SET @value = SUBSTRING(@string, @pos, @len)

        INSERT INTO @out_put ([value])
        SELECT LTRIM(RTRIM(@value)) AS [column]

        --SET @pos = CHARINDEX(@delimiter, @string, @pos + @len) + 1
		if (substring(@string,(CHARINDEX(@delimiter, @string, @pos + @len) + 1),1)  = ',')
		begin
			INSERT INTO @out_put ([value])
			SELECT LTRIM(RTRIM('')) AS [column]

			SET @pos = CHARINDEX(@delimiter, @string, @pos + @len) + 2
		end 
		else
		begin
			SET @pos = CHARINDEX(@delimiter, @string, @pos + @len) + 1
		end 
    END

    RETURN
END
GO
