/****** Object:  StoredProcedure [dbo].[usp_SQLDUMaker_ValuerSubmission_Select_Opened]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SQLDUMaker_ValuerSubmission_Select_Opened]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SQLDUMaker_ValuerSubmission_Select_Opened]
GO
/****** Object:  StoredProcedure [dbo].[usp_SQLDUMaker_ValuerSubmission_Select_Opened]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[usp_SQLDUMaker_ValuerSubmission_Select_Opened]
as
begin
	/*
	SELECT LOADS.[ARN] as [ARN]
      ,[LendingType]
      ,[SalesPersonCode]
      ,[FinancingType]
      ,[ProjectName]
      ,[ProjectCode]
      ,[LegalFeePartOfLoan]
      ,[ValuationRequired]
      ,[MRTAFeePartOfLoan]
      ,[LoanAmount]
      ,[DisbursementManner]
      ,[ApplicantName]
      ,[DOB]
      ,[ApplicantEmail]
      ,[MortgateCenterCode]
      ,[ApplicantAccountType]
      ,[ApplicantContactNo]
      ,[SolicitorEmail]
      ,[ValuerEmail]
      ,LOADS.[Status] as [Status]
      ,[ClosingBranch]
      ,[BranchAddress]
      ,[BranchAddr1]
      ,[BranchAddr2]
      ,[BranchAddr3]
      ,[BranchAddrPostCode]
      ,[BranchAddrCity]
      ,[BranchAddrState]
      ,[BranchAddrCountry]
      ,[SalesPersonName]
      ,[SalesPersonEmailAddress]
      ,[BranchManagerName]
      ,[BranchManagerEmailAddress]
      ,LOADS.[SolicitorCode] as [SolicitorCode]
      ,[SolicitorName]
      ,[SolicitorEmail2]
      ,[SolicitorAddr1]
      ,[SolicitorAddr2]
      ,[SolicitorAddr3]
      ,[SolicitorAddrPostCode]
      ,[SolicitorAddrCity]
      ,[SolicitorAddrState]
      ,[SolicitorAddrCountry]
      ,[SolicitorAccountType]
      ,[SolicitorAccountNbr]
      ,[TopUpLoanIndicator]
      ,[DateOfLOAcceptance]
      ,[CustomerName]
      ,[CustomerID]
      ,[CustomerAddr1]
      ,[CustomerAddr2]
      ,[CustomerAddr3]
      ,[CustomerAddrPostCode]
      ,[CustomerAddrCity]
      ,[CustomerAddrState]
      ,[CustomerAddrCountry]
      ,[EStatementFlagIndicator]
      ,[ChargorName]
      ,[ChargorIDNumber]
      ,[GuarantorName]
      ,[GuarantorIDNumber]
      ,[RelationshipToApplication]
      ,[RelationshipToPrincipal]
      ,[PurposeCode]
      ,[MainProduct]
      ,[TotalFinancingAmount]
      ,[LegalFeesFinancedAmount]
      ,[ValuationFeesFinancedAmount]
      ,[MRTAFinancedAmount]
      ,[GracePeriod]
      ,[PropertyType]
      ,[PropertyAddress]
      ,[TitleDetailsLO]
      ,[DeveloperCode]
      ,[DeveloperName]
      ,[LandArea]
      ,[BuildUpArea]
      ,valuer.[ValuerCode] as [ValuerCode]
      ,[ValuerName]
      ,[ValuerAddr1]
      ,[ValuerAddr2]
      ,[ValuerAddr3]
      ,[ValuerAddrPostCode]
      ,[ValuerAddrCity]
      ,[ValuerAddrState]
      ,[ValuerAddrCountry]
      ,[ValuerAccountType]
      ,[ValuerAccountNBR]
      ,[VerbalIndicativeValue]
      ,[MortgateCenterEmail]
      ,[ValuationFeePartOfLoan]
      ,[AccountType]
      ,[RESPONSECODE]
      ,[RESPONSEDESCRIPTION]
      ,[MortgageCentre]
      ,[TotalFinancialAmount]
      ,[SolicitorType]
      ,[FinancingPurpose]
      ,[BorrowersIDNumber]
      ,[PFCSalesName]
      ,[PFSalesEmailAddress]
	  */
	  SELECT LOADS.[ARN] as [ARN]
      ,LOADS.[Status] as [Status]
      ,[BranchAddr1]
      ,[BranchAddr2]
      ,[BranchAddr3]
      ,[BranchAddrCity]
      ,[BranchAddrCountry]
      ,[BranchAddrPostCode]
      ,[BranchAddrState]
      ,[BranchManagerEmailAddress]
      ,[BranchManagerName]
      ,[ClosingBranch]
      --,[DateOfLOAcceptance]
	  ,FORMAT (DateOfLOAcceptance, 'dd/MM/yyyy') as DateOfLOAcceptance
      ,[FinancingType]
      ,[MortgateCenterCode]
      ,[MortgateCenterEmail]
      ,[PFSalesEmailAddress]
      ,[PFCSalesName]
      ,[SolicitorAccountNbr]
      ,[SolicitorAccountType]
      ,[SolicitorAddr1]
      ,[SolicitorAddr2]
      ,[SolicitorAddr3]
      ,[SolicitorAddrCity]
      ,[SolicitorAddrCountry]
      ,[SolicitorAddrPostCode]
      ,[SolicitorAddrState]
      ,[SolicitorEmail]
      ,[SolInternalStatus]
      ,[SolicitorName]
      ,[SolicitorCode]
      ,[TopUpLoanIndicator]
      ,[ChargorIDNumber]
      ,[ChargorName]
      ,[CustomerAddr1]
      ,[CustomerAddr2]
      ,[CustomerAddr3]
      ,[CustomerAddrCity]
      ,[CustomerAddrCountry]
      ,[CustomerAddrPostCode]
      ,[CustomerAddrState]
      ,[ApplicantEmail]
      ,[CustomerID]
      ,[ApplicantName]
      ,[CustomerName]
      ,[EStatementFlagIndicator]
      ,[GuarantorIDNumber]
      ,[GuarantorName]
      ,[DisbursementManner]
      ,[LoanAmount]
      ,[FacilityAmount1]
      ,[FacilityAmount2]
      ,[FacilityAmount3]
      ,[FacilityAmount4]
      ,[FinancingProductName1]
      ,[FinancingProductName2]
      ,[FinancingProductName3]
      ,[FinancingProductName4]
      ,[GracePeriod]
      ,[LegalFeesFinancedAmount]
      ,[MRTAFinancedAmount]
      ,[PurposeCode]
      ,[TotalFinancingAmount]
      ,[ValuationFeesFinancedAmount]
      ,[BuildUpArea]
      ,[DeveloperCode]
      ,[DeveloperName]
      ,[CollateralPurpose]
      ,[LandArea]
      ,[ProjectCode]
      ,[ProjectName]
      ,[PropertyAddress]
      ,[PropertyType]
      ,[ValuationRequired]
      ,[TitleDetailsLO]
      ,[ValuerAccountNBR]
      ,[ValuerAccountType]
      ,[ValuerAddr1]
      ,[ValuerAddr2]
      ,[ValuerAddr3]
      ,[ValuerAddrCity]
      ,[ValuerAddrCountry]
      ,[ValuerAddrPostCode]
      ,[ValuerAddrState]
      ,LOADS.[ValuerCode] as [ValuerCode]
      ,[ValuerEmail]
      ,[ValuerName]
      ,[VerbalIndicativeValue]
      ,[RESPONSECODE]
      ,[RESPONSEDESCRIPTION]     
      --,LOADS.[CreatedDate]
      --,LOADS.[UpdatedDate]
	   ,FORMAT (LOADS.[CreatedDate], 'dd/MM/yyyy') as [CreatedDate]
		,FORMAT (LOADS.[UpdatedDate], 'dd/MM/yyyy') as UpdatedDate
	  , valuer.Status as ValuerStatus
	  , DATEDIFF(day, valuer.UpdatedDate, getdate()) as aging	
	  , case when dumaker.DUMakerEmail is null then dumaker_lowerOMV.dumakeremail else dumaker.DUMakerEmail end as lastmodifieduser 	
	  --, case when dumaker.DUMakerEmail is null then dumaker_lowerOMV.UpdatedDate else dumaker.UpdatedDate end as lastmodifieddate 	
	  , case when dumaker.DUMakerEmail is null then FORMAT (dumaker_lowerOMV.UpdatedDate, 'dd/MM/yyyy') else FORMAT (dumaker.UpdatedDate, 'dd/MM/yyyy') end as lastmodifieddate 	
	  --,valuer.UpdatedDate as submissiondate 
	  ,FORMAT (valuer.UpdatedDate, 'dd/MM/yyyy') as submissiondate
	  FROM [dbo].[SQLLOADS] LOADS
	  INNER JOIN [dbo].SQLValuerDPSubmission valuer on valuer.arn = LOADS.arn and valuer.Completed = 1
	  left join SQLDUMakerDP_ValuerSubmission dumaker on dumaker.arn = valuer.arn 
	  left join SQLDUMakerDP_ValuerSubmission_LoweredOMV dumaker_lowerOMV on dumaker_lowerOMV.arn = valuer.arn 
	  where valuer.Status in ('Submitted', 'Cancelled', 'LowerOMV', 'Resubmitted')
		and LOADS.ARN not in (select arn from MortgageAppTaskInstance where Workflow = 'DPDUMakerValuerApproval') 
		and LOADS.ARN not in (select arn from [dbo].SQLDUMakerDP_ValuerSubmission where Status in ('Completed'))
		

end 


GO
