/****** Object:  Table [dbo].[SQLLOADS_staging]    Script Date: 7/9/2020 12:28:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SQLLOADS_staging]') AND type in (N'U'))
DROP TABLE [dbo].[SQLLOADS_staging]
GO
/****** Object:  Table [dbo].[SQLLOADS_staging]    Script Date: 7/9/2020 12:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLLOADS_staging](
	[ARN] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](15) NULL,
	[BranchAddr1] [nvarchar](100) NULL,
	[BranchAddr2] [nvarchar](100) NULL,
	[BranchAddr3] [nvarchar](100) NULL,
	[BranchAddrCity] [nvarchar](100) NULL,
	[BranchAddrCountry] [nvarchar](100) NULL,
	[BranchAddrPostCode] [nvarchar](10) NULL,
	[BranchAddrState] [nvarchar](100) NULL,
	[BranchManagerEmailAddress] [nvarchar](60) NULL,
	[BranchManagerName] [nvarchar](50) NULL,
	[ClosingBranch] [nvarchar](10) NULL,
	[DateOfLOAcceptance] [date] NULL,
	[FinancingType] [nvarchar](15) NULL,
	[MortgateCenterCode] [nvarchar](16) NULL,
	[MortgateCenterEmail] [nvarchar](60) NULL,
	[PFSalesEmailAddress] [nvarchar](60) NULL,
	[PFCSalesName] [nvarchar](100) NULL,
	[SolicitorAccountNbr] [nvarchar](20) NULL,
	[SolicitorAccountType] [nvarchar](20) NULL,
	[SolicitorAddr1] [nvarchar](100) NULL,
	[SolicitorAddr2] [nvarchar](100) NULL,
	[SolicitorAddr3] [nvarchar](100) NULL,
	[SolicitorAddrCity] [nvarchar](100) NULL,
	[SolicitorAddrCountry] [nvarchar](100) NULL,
	[SolicitorAddrPostCode] [nvarchar](10) NULL,
	[SolicitorAddrState] [nvarchar](100) NULL,
	[SolicitorEmail] [nvarchar](150) NULL,
	[SolInternalStatus] [nvarchar](20) NULL,
	[SolicitorName] [nvarchar](50) NULL,
	[SolicitorCode] [nvarchar](100) NULL,
	[TopUpLoanIndicator] [nvarchar](5) NULL,
	[ChargorIDNumber] [nvarchar](100) NULL,
	[ChargorName] [nvarchar](500) NULL,
	[CustomerAddr1] [nvarchar](100) NULL,
	[CustomerAddr2] [nvarchar](100) NULL,
	[CustomerAddr3] [nvarchar](100) NULL,
	[CustomerAddrCity] [nvarchar](50) NULL,
	[CustomerAddrCountry] [nvarchar](100) NULL,
	[CustomerAddrPostCode] [nvarchar](10) NULL,
	[CustomerAddrState] [nvarchar](100) NULL,
	[ApplicantEmail] [nvarchar](255) NULL,
	[CustomerID] [nvarchar](100) NULL,
	[ApplicantName] [nvarchar](250) NULL,
	[CustomerName] [nvarchar](500) NULL,
	[EStatementFlagIndicator] [nvarchar](20) NULL,
	[GuarantorIDNumber] [nvarchar](100) NULL,
	[GuarantorName] [nvarchar](500) NULL,
	[DisbursementManner] [nvarchar](50) NULL,
	[LoanAmount] [money] NULL,
	[FacilityAmount1] [money] NULL,
	[FacilityAmount2] [money] NULL,
	[FacilityAmount3] [money] NULL,
	[FacilityAmount4] [money] NULL,
	[FinancingProductName1] [nvarchar](100) NULL,
	[FinancingProductName2] [nvarchar](100) NULL,
	[FinancingProductName3] [nvarchar](100) NULL,
	[FinancingProductName4] [nvarchar](100) NULL,
	[GracePeriod] [int] NULL,
	[LegalFeesFinancedAmount] [money] NULL,
	[MRTAFinancedAmount] [money] NULL,
	[PurposeCode] [nvarchar](50) NULL,
	[TotalFinancingAmount] [money] NULL,
	[ValuationFeesFinancedAmount] [money] NULL,
	[BuildUpArea] [decimal](19, 2) NULL,
	[DeveloperCode] [nvarchar](20) NULL,
	[DeveloperName] [nvarchar](100) NULL,
	[CollateralPurpose] [nvarchar](30) NULL,
	[LandArea] [decimal](19, 2) NULL,
	[ProjectCode] [nvarchar](20) NULL,
	[ProjectName] [nvarchar](100) NULL,
	[PropertyAddress] [nvarchar](200) NULL,
	[PropertyType] [nvarchar](100) NULL,
	[ValuationRequired] [bit] NULL,
	[TitleDetailsLO] [nvarchar](1000) NULL,
	[ValuerAccountNBR] [nvarchar](20) NULL,
	[ValuerAccountType] [nvarchar](20) NULL,
	[ValuerAddr1] [nvarchar](100) NULL,
	[ValuerAddr2] [nvarchar](100) NULL,
	[ValuerAddr3] [nvarchar](100) NULL,
	[ValuerAddrCity] [nvarchar](100) NULL,
	[ValuerAddrCountry] [nvarchar](100) NULL,
	[ValuerAddrPostCode] [nvarchar](10) NULL,
	[ValuerAddrState] [nvarchar](100) NULL,
	[ValuerCode] [nvarchar](100) NULL,
	[ValuerEmail] [nvarchar](150) NULL,
	[ValuerName] [nvarchar](50) NULL,
	[VerbalIndicativeValue] [money] NULL,
	[RESPONSECODE] [nvarchar](1000) NULL,
	[RESPONSEDESCRIPTION] [nvarchar](1000) NULL,
	[CreatedDate] [date] NULL,
	[UpdatedDate] [date] NULL,
	[batchDateTime] [datetime] NULL,
	[PrimaryCustomerID] [nvarchar](100) NULL,
	[SolTelNbr] [nvarchar](100) NULL,
	[SolFaxNbr] [nvarchar](100) NULL,
	[ValTelNbr] [nvarchar](100) NULL,
	[ValFaxNbr] [nvarchar](100) NULL
) ON [PRIMARY]
GO
