/****** Object:  StoredProcedure [dbo].[usp_InternalUser_GetRemarks]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InternalUser_GetRemarks]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InternalUser_GetRemarks]
GO
/****** Object:  StoredProcedure [dbo].[usp_InternalUser_GetRemarks]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[usp_InternalUser_GetRemarks]
@UserName nvarchar(max) = null
as
begin
	select Remarks
	from InternalUser
	where UserName = @UserName
end
GO
