/****** Object:  StoredProcedure [dbo].[usp_ws_setting_getDU1pdfmasterpassword]    Script Date: 7/9/2020 12:28:38 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_ws_setting_getDU1pdfmasterpassword]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_ws_setting_getDU1pdfmasterpassword]
GO
/****** Object:  StoredProcedure [dbo].[usp_ws_setting_getDU1pdfmasterpassword]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE procedure [dbo].[usp_ws_setting_getDU1pdfmasterpassword]
  as
  begin
		--declare @masterpassword nvarchar(max)
		--select @masterpassword = 
		select pdfmasterpassword
		from Settings
				
  end 
GO
