/****** Object:  StoredProcedure [dbo].[usp_errorlog_view]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_errorlog_view]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_errorlog_view]
GO
/****** Object:  StoredProcedure [dbo].[usp_errorlog_view]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_errorlog_view]
as
begin
	select APIName, errorType, errorMessage, errorDetail, APIErrorDt, DateInserted 
	from [errorLog]
end
GO
