/****** Object:  StoredProcedure [dbo].[usp_DeleteSolicitorAttachment]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_DeleteSolicitorAttachment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_DeleteSolicitorAttachment]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSolicitorAttachment]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_DeleteSolicitorAttachment]
@arn nvarchar(max) =null,
@output nvarchar(max) = null output
as
begin
	
	set @output = ''

	update SQLSolicitorDPSubmission
	set SolicitorCancellationReportAttachment = null ,
		SolicitorRefReportAttachment = null
	where arn = @arn 

	update SQLSolicitorDPSubmission_staging
	set SolicitorCancellationReportAttachment = null ,
		SolicitorRefReportAttachment = null
	where arn = @arn 

	delete from SQLSolicitorDPSubmissionAttachment2
	where arn = @arn 

	delete from SQLSolicitorDPSubmissionAttachment2_staging 
	where arn = @arn 
end 
GO
