/****** Object:  StoredProcedure [dbo].[usp_SQLSolicitorDPSubmission_List_Select]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SQLSolicitorDPSubmission_List_Select]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SQLSolicitorDPSubmission_List_Select]
GO
/****** Object:  StoredProcedure [dbo].[usp_SQLSolicitorDPSubmission_List_Select]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[usp_SQLSolicitorDPSubmission_List_Select] '1@sol.com'

CREATE PROCEDURE [dbo].[usp_SQLSolicitorDPSubmission_List_Select]
@SolicitorCode varchar(100)
as
begin
	/*
	SELECT LOADS.[ARN] as [ARN]
      ,[LendingType]
      ,[SalesPersonCode]
      ,[FinancingType]
      ,[ProjectName]
      ,[ProjectCode]
      ,[LegalFeePartOfLoan]
      ,[ValuationRequired]
      ,[MRTAFeePartOfLoan]
      ,[LoanAmount]
      ,[DisbursementManner]
      ,[ApplicantName]
      ,[DOB]
      ,[ApplicantEmail]
      ,[MortgateCenterCode]
      ,[ApplicantAccountType]
      ,[ApplicantContactNo]
      ,[SolicitorEmail]
      ,[ValuerEmail]
      ,LOADS.[Status] as [Status]
      ,[ClosingBranch]
      ,[BranchAddress]
      ,[BranchAddr1]
      ,[BranchAddr2]
      ,[BranchAddr3]
      ,[BranchAddrPostCode]
      ,[BranchAddrCity]
      ,[BranchAddrState]
      ,[BranchAddrCountry]
      ,[SalesPersonName]
      ,[SalesPersonEmailAddress]
      ,[BranchManagerName]
      ,[BranchManagerEmailAddress]
      ,LOADS.[SolicitorCode] as [SolicitorCode]
      ,[SolicitorName]
      ,[SolicitorEmail2]
      ,[SolicitorAddr1]
      ,[SolicitorAddr2]
      ,[SolicitorAddr3]
      ,[SolicitorAddrPostCode]
      ,[SolicitorAddrCity]
      ,[SolicitorAddrState]
      ,[SolicitorAddrCountry]
      ,[SolicitorAccountType]
      ,[SolicitorAccountNbr]
      ,[TopUpLoanIndicator]
      ,[DateOfLOAcceptance]
      ,[CustomerName]
      ,[CustomerID]
      ,[CustomerAddr1]
      ,[CustomerAddr2]
      ,[CustomerAddr3]
      ,[CustomerAddrPostCode]
      ,[CustomerAddrCity]
      ,[CustomerAddrState]
      ,[CustomerAddrCountry]
      ,[EStatementFlagIndicator]
      ,[ChargorName]
      ,[ChargorIDNumber]
      ,[GuarantorName]
      ,[GuarantorIDNumber]
      ,[RelationshipToApplication]
      ,[RelationshipToPrincipal]
      ,[PurposeCode]
      ,[MainProduct]
      ,[TotalFinancingAmount]
      ,[LegalFeesFinancedAmount]
      ,[ValuationFeesFinancedAmount]
      ,[MRTAFinancedAmount]
      ,[GracePeriod]
      ,[PropertyType]
      ,[PropertyAddress]
      ,[TitleDetailsLO]
      ,[DeveloperCode]
      ,[DeveloperName]
      ,[LandArea]
      ,[BuildUpArea]
      ,[ValuerCode]
      ,[ValuerName]
      ,[ValuerAddr1]
      ,[ValuerAddr2]
      ,[ValuerAddr3]
      ,[ValuerAddrPostCode]
      ,[ValuerAddrCity]
      ,[ValuerAddrState]
      ,[ValuerAddrCountry]
      ,[ValuerAccountType]
      ,[ValuerAccountNBR]
      ,[VerbalIndicativeValue]
      ,[MortgateCenterEmail]
      ,[ValuationFeePartOfLoan]
      ,[AccountType]
      ,[RESPONSECODE]
      ,[RESPONSEDESCRIPTION]
      ,[MortgageCentre]
      ,[TotalFinancialAmount]
      ,[SolicitorType]
      ,[FinancingPurpose]
      ,[BorrowersIDNumber]
      ,[PFCSalesName]
      ,[PFSalesEmailAddress]
	  */
	  
SELECT LOADS.[ARN] as [ARN]
      ,LOADS.[Status] as [Status]
      ,[BranchAddr1]
      ,[BranchAddr2]
      ,[BranchAddr3]
      ,[BranchAddrCity]
      ,[BranchAddrCountry]
      ,[BranchAddrPostCode]
      ,[BranchAddrState]
      ,[BranchManagerEmailAddress]
      ,[BranchManagerName]
      ,[ClosingBranch]
      --,[DateOfLOAcceptance]
	  ,FORMAT (DateOfLOAcceptance, 'dd/MM/yyyy') as DateOfLOAcceptance
      ,[FinancingType]
      ,[MortgateCenterCode]
      ,[MortgateCenterEmail]
      ,[PFSalesEmailAddress]
      ,[PFCSalesName]
      ,[SolicitorAccountNbr]
      ,[SolicitorAccountType]
      ,[SolicitorAddr1]
      ,[SolicitorAddr2]
      ,[SolicitorAddr3]
      ,[SolicitorAddrCity]
      ,[SolicitorAddrCountry]
      ,[SolicitorAddrPostCode]
      ,[SolicitorAddrState]
      ,[SolicitorEmail]
      ,[SolInternalStatus]
      ,[SolicitorName]
      ,LOADS.[SolicitorCode] as [SolicitorCode]
      ,[TopUpLoanIndicator]
      ,[ChargorIDNumber]
      ,[ChargorName]
      ,[CustomerAddr1]
      ,[CustomerAddr2]
      ,[CustomerAddr3]
      ,[CustomerAddrCity]
      ,[CustomerAddrCountry]
      ,[CustomerAddrPostCode]
      ,[CustomerAddrState]
      ,[ApplicantEmail]
      ,[CustomerID]
      ,[ApplicantName]
      ,[CustomerName]
      ,[EStatementFlagIndicator]
      ,[GuarantorIDNumber]
      ,[GuarantorName]
      ,[DisbursementManner]
      ,[LoanAmount]
      ,[FacilityAmount1]
      ,[FacilityAmount2]
      ,[FacilityAmount3]
      ,[FacilityAmount4]
      ,[FinancingProductName1]
      ,[FinancingProductName2]
      ,[FinancingProductName3]
      ,[FinancingProductName4]
      ,[GracePeriod]
      ,[LegalFeesFinancedAmount]
      ,[MRTAFinancedAmount]
      ,[PurposeCode]
      ,[TotalFinancingAmount]
      ,[ValuationFeesFinancedAmount]
      ,[BuildUpArea]
      ,[DeveloperCode]
      ,[DeveloperName]
      ,[CollateralPurpose]
      ,[LandArea]
      ,[ProjectCode]
      ,[ProjectName]
      ,[PropertyAddress]
      ,[PropertyType]
      ,[ValuationRequired]
      ,[TitleDetailsLO]
      ,[ValuerAccountNBR]
      ,[ValuerAccountType]
      ,[ValuerAddr1]
      ,[ValuerAddr2]
      ,[ValuerAddr3]
      ,[ValuerAddrCity]
      ,[ValuerAddrCountry]
      ,[ValuerAddrPostCode]
      ,[ValuerAddrState]
      ,[ValuerCode]
      ,[ValuerEmail]
      ,[ValuerName]
      ,[VerbalIndicativeValue]
      ,[RESPONSECODE]
      ,[RESPONSEDESCRIPTION]     
      --,LOADS.[CreatedDate] as [CreatedDate]
      --,LOADS.[UpdatedDate] as [UpdatedDate]
	  ,FORMAT (LOADS.[CreatedDate], 'dd/MM/yyyy') as [CreatedDate]
	  ,FORMAT (LOADS.[UpdatedDate], 'dd/MM/yyyy') as UpdatedDate
	  --,case SOLICITOR.[Status] when 'Resubmit-New' then 'Rejected' else isnull(SOLICITOR.[Status],'New') end as SolicitorStatus
	  ,case when SOLICITOR_UpdateInfo.arn is not null then 'UpdateInfo' when SOLICITOR_Rejected.arn is not null then 'Rejected' else isnull(SOLICITOR.[Status],'New') end as SolicitorStatus
	  , DATEDIFF(day, [DateOfLOAcceptance], getdate()) as aging	
	   FROM [dbo].[SQLLOADS] LOADS
	  LEFT OUTER JOIN [DBO].[SQLSolicitorDPSubmission] SOLICITOR ON SOLICITOR.ARN = LOADS.ARN and SOLICITOR.Status NOT IN ('Submitted', 'Cancelled','Resubmitted' )
	  LEFT OUTER JOIN [DBO].[SQLDUMakerDP_SolicitorSubmission_Rejected] SOLICITOR_Rejected ON SOLICITOR_Rejected.ARN = LOADS.ARN
	  LEFT OUTER JOIN [DBO].[SQLSolicitorDPSubmission_UpdateInfo] SOLICITOR_UpdateInfo ON SOLICITOR_UpdateInfo.ARN = LOADS.ARN
	  WHERE 
		LOADS.SolicitorCode = @SolicitorCode
		AND 
		LOADS.ARN NOT IN (SELECT LOADS.ARN FROM [dbo].[SQLLOADS] LOADS INNER JOIN [DBO].[SQLSolicitorDPSubmission] SOLICITOR ON SOLICITOR.ARN = LOADS.ARN and SOLICITOR.Status IN ('Submitted', 'Cancelled','Resubmitted' ) )		
		and LOADS.ARN NOT IN (select arn from [SQLSolicitorDPSubmission_staging] )
		and isnull(completed,0) <>1
end 



GO
