/****** Object:  StoredProcedure [dbo].[usp_SQLValuerDPSubmission_List_Select]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SQLValuerDPSubmission_List_Select]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SQLValuerDPSubmission_List_Select]
GO
/****** Object:  StoredProcedure [dbo].[usp_SQLValuerDPSubmission_List_Select]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[usp_SQLValuerDPSubmission_List_Select] 'a5344'

CREATE PROCEDURE [dbo].[usp_SQLValuerDPSubmission_List_Select]
@ValuerCode varchar(100)
as
begin
	/*
	SELECT LOADS.[ARN] as [ARN]
		  ,[LendingType]
		  ,[SalesPersonCode]
		  ,[FinancingType]
		  ,[ProjectName]
		  ,[ProjectCode]
		  ,[LegalFeePartOfLoan]
		  ,[ValuationRequired]
		  ,[MRTAFeePartOfLoan]
		  ,[LoanAmount]
		  ,[DisbursementManner]
		  ,[ApplicantName]
		  ,[DOB]
		  ,[ApplicantEmail]
		  ,[MortgateCenterCode]
		  ,[ApplicantAccountType]
		  ,[ApplicantContactNo]
		  ,[SolicitorEmail]
		  ,[ValuerEmail]
		  ,LOADS.[Status] as LOADS_STATUS
		  ,[ClosingBranch]
		  ,[BranchAddress]
		  ,[BranchAddr1]
		  ,[BranchAddr2]
		  ,[BranchAddr3]
		  ,[BranchAddrPostCode]
		  ,[BranchAddrCity]
		  ,[BranchAddrState]
		  ,[BranchAddrCountry]
		  ,[SalesPersonName]
		  ,[SalesPersonEmailAddress]
		  ,[BranchManagerName]
		  ,[BranchManagerEmailAddress]
		  ,[SolicitorCode]
		  ,[SolicitorName]
		  ,[SolicitorEmail2]
		  ,[SolicitorAddr1]
		  ,[SolicitorAddr2]
		  ,[SolicitorAddr3]
		  ,[SolicitorAddrPostCode]
		  ,[SolicitorAddrCity]
		  ,[SolicitorAddrState]
		  ,[SolicitorAddrCountry]
		  ,[SolicitorAccountType]
		  ,[SolicitorAccountNbr]
		  ,[TopUpLoanIndicator]
		  ,[DateOfLOAcceptance]
		  ,[CustomerName]
		  ,[CustomerID]
		  ,[CustomerAddr1]
		  ,[CustomerAddr2]
		  ,[CustomerAddr3]
		  ,[CustomerAddrPostCode]
		  ,[CustomerAddrCity]
		  ,[CustomerAddrState]
		  ,[CustomerAddrCountry]
		  ,[EStatementFlagIndicator]
		  ,[ChargorName]
		  ,[ChargorIDNumber]
		  ,[GuarantorName]
		  ,[GuarantorIDNumber]
		  ,[RelationshipToApplication]
		  ,[RelationshipToPrincipal]
		  ,[PurposeCode]
		  ,[MainProduct]
		  ,[TotalFinancingAmount]
		  ,[LegalFeesFinancedAmount]
		  ,[ValuationFeesFinancedAmount]
		  ,[MRTAFinancedAmount]
		  ,[GracePeriod]
		  ,[PropertyType]
		  ,[PropertyAddress]
		  ,[TitleDetailsLO]
		  ,[DeveloperCode]
		  ,[DeveloperName]
		  ,[LandArea]
		  ,[BuildUpArea]
		  ,LOADS.[ValuerCode] as [ValuerCode]
		  ,[ValuerName]
		  ,[ValuerAddr1]
		  ,[ValuerAddr2]
		  ,[ValuerAddr3]
		  ,[ValuerAddrPostCode]
		  ,[ValuerAddrCity]
		  ,[ValuerAddrState]
		  ,[ValuerAddrCountry]
		  ,[ValuerAccountType]
		  ,[ValuerAccountNBR]
		  ,[VerbalIndicativeValue]
		  ,[MortgateCenterEmail]
		  ,[ValuationFeePartOfLoan]
		  ,[AccountType]
		  ,[RESPONSECODE]
		  ,[RESPONSEDESCRIPTION]
		  ,[MortgageCentre]
		  ,[TotalFinancialAmount]
		  ,[SolicitorType]
		  ,[FinancingPurpose]
		  ,[BorrowersIDNumber]
		  ,[PFCSalesName]
		  ,[PFSalesEmailAddress]	
		  --,	  isnull(VALUER.[Status],'New') as ValuerStatus
		  */
		  
	SELECT LOADS.[ARN] as [ARN]
		  ,LOADS.[Status] as [Status]
		  ,[BranchAddr1]
		  ,[BranchAddr2]
		  ,[BranchAddr3]
		  ,[BranchAddrCity]
		  ,[BranchAddrCountry]
		  ,[BranchAddrPostCode]
		  ,[BranchAddrState]
		  ,[BranchManagerEmailAddress]
		  ,[BranchManagerName]
		  ,[ClosingBranch]
		  ,FORMAT (DateOfLOAcceptance, 'dd/MM/yyyy') as DateOfLOAcceptance
		  --,[DateOfLOAcceptance]
		  ,[FinancingType]
		  ,[MortgateCenterCode]
		  ,[MortgateCenterEmail]
		  ,[PFSalesEmailAddress]
		  ,[PFCSalesName]
		  ,[SolicitorAccountNbr]
		  ,[SolicitorAccountType]
		  ,[SolicitorAddr1]
		  ,[SolicitorAddr2]
		  ,[SolicitorAddr3]
		  ,[SolicitorAddrCity]
		  ,[SolicitorAddrCountry]
		  ,[SolicitorAddrPostCode]
		  ,[SolicitorAddrState]
		  ,[SolicitorEmail]
		  ,[SolInternalStatus]
		  ,[SolicitorName]
		  ,[SolicitorCode]
		  ,[TopUpLoanIndicator]
		  ,[ChargorIDNumber]
		  ,[ChargorName]
		  ,[CustomerAddr1]
		  ,[CustomerAddr2]
		  ,[CustomerAddr3]
		  ,[CustomerAddrCity]
		  ,[CustomerAddrCountry]
		  ,[CustomerAddrPostCode]
		  ,[CustomerAddrState]
		  ,[ApplicantEmail]
		  ,[CustomerID]
		  ,[ApplicantName]
		  ,[CustomerName]
		  ,[EStatementFlagIndicator]
		  ,[GuarantorIDNumber]
		  ,[GuarantorName]
		  ,[DisbursementManner]
		  ,[LoanAmount]
		  ,[FacilityAmount1]
		  ,[FacilityAmount2]
		  ,[FacilityAmount3]
		  ,[FacilityAmount4]
		  ,[FinancingProductName1]
		  ,[FinancingProductName2]
		  ,[FinancingProductName3]
		  ,[FinancingProductName4]
		  ,[GracePeriod]
		  ,[LegalFeesFinancedAmount]
		  ,[MRTAFinancedAmount]
		  ,[PurposeCode]
		  ,[TotalFinancingAmount]
		  ,[ValuationFeesFinancedAmount]
		  ,[BuildUpArea]
		  ,[DeveloperCode]
		  ,[DeveloperName]
		  ,[CollateralPurpose]
		  ,[LandArea]
		  ,[ProjectCode]
		  ,[ProjectName]
		  ,[PropertyAddress]
		  ,[PropertyType]
		  ,[ValuationRequired]
		  ,[TitleDetailsLO]
		  ,[ValuerAccountNBR]
		  ,[ValuerAccountType]
		  ,[ValuerAddr1]
		  ,[ValuerAddr2]
		  ,[ValuerAddr3]
		  ,[ValuerAddrCity]
		  ,[ValuerAddrCountry]
		  ,[ValuerAddrPostCode]
		  ,[ValuerAddrState]
		  ,LOADS.[ValuerCode]
		  ,[ValuerEmail]
		  ,[ValuerName]
		  ,[VerbalIndicativeValue]
		  ,[RESPONSECODE]
		  ,[RESPONSEDESCRIPTION]     
		  --,LOADS.[CreatedDate] as [CreatedDate]
		  --,LOADS.[UpdatedDate] as [UpdatedDate]
		   ,FORMAT (LOADS.[CreatedDate], 'dd/MM/yyyy') as [CreatedDate]
			,FORMAT (LOADS.[UpdatedDate], 'dd/MM/yyyy') as UpdatedDate
		  --,case VALUER.[Status] when 'Resubmit-New' then 'LowerOMV' else isnull(VALUER.[Status],'New') end as ValuerStatus
		  ,case 
			when updateinfo.arn is not null then 'UpdateInfo' 						
			when loweredOMV.arn is not null then 'LowerOMV-Approved' 						
			else isnull(VALUER.[Status],'New') 
			end as ValuerStatus
		  , DATEDIFF(day, [DateOfLOAcceptance], getdate()) as aging			  
	  --select loweredOMV.arn, VALUER.[Status]
	  FROM [dbo].[SQLLOADS] LOADS
	  --LEFT OUTER JOIN [DBO].[SQLValuerDPSubmission] VALUER ON VALUER.ARN = LOADS.ARN and VALUER.Status NOT IN ('Submitted', 'LowerOMV','Cancelled','Resubmitted' )
	  LEFT OUTER JOIN [DBO].[SQLValuerDPSubmission] VALUER ON VALUER.ARN = LOADS.ARN --and isnull(VALUER.Completed,0) <>1
	  LEFT OUTER JOIN [DBO].SQLDUMakerDP_ValuerSubmission_LoweredOMV loweredOMV ON loweredOMV.ARN = LOADS.ARN 
	  LEFT OUTER JOIN [DBO].SQLValuerDPSubmission_UpdateInfo updateinfo ON updateinfo.ARN = LOADS.ARN 	  
	  WHERE 
		LOADS.ValuationRequired = 1
		AND 
		LOADS.ValuerCode = @ValuerCode
		--LOADS.ValuerCode = 'a5344'
		--AND LOADS.ARN NOT IN (SELECT LOADS.ARN FROM [dbo].[SQLLOADS] LOADS INNER JOIN [DBO].[SQLValuerDPSubmission] VALUER ON VALUER.ARN = LOADS.ARN and VALUER.Status IN ('Submitted', 'LowerOMV','Cancelled','Resubmitted' ) )
		and loads.arn not in (select arn from [SQLValuerDPSubmission_staging] )
		and isnull(VALUER.Completed,0)<> 1

end 



GO
