/****** Object:  StoredProcedure [dbo].[usp_solicitorinstance_check]    Script Date: 7/9/2020 12:28:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_solicitorinstance_check]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_solicitorinstance_check]
GO
/****** Object:  StoredProcedure [dbo].[usp_solicitorinstance_check]    Script Date: 7/9/2020 12:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE procedure [dbo].[usp_solicitorinstance_check]
  @arn nvarchar(100) = null,
  @error nvarchar(max) = null output 
  as
  begin
	set @error = ''

	if exists 
	(
		select 1
		from MortgageAppTaskInstance
		where Workflow= 'DPDUMakerSolicitorApproval'
			and arn = @arn
			
	)
	begin
		set @error = 'Instance Existed'
	end 
	/*
	if exists 
	(
		select * 
		from [dbo].[K2Instance]
		where Workflow= 'DPDUMakerValuerApproval'
			and arn =  @arn
	)
	begin	
		select K2SerialNumber as  K2SerialNumber
		from [dbo].[K2Instance]
		where Workflow= 'DPDUMakerValuerApproval'
			and arn =  @arn
	end 

	select K2SerialNumber as  K2SerialNumber
		from [dbo].[K2Instance]
		where Workflow= 'DPDUMakerSolicitorApproval'
			and arn =  @arn
		*/
  end 
GO
